@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,700,700i');

// Set your brand colors
$uci-blue: #1b3d6d;
$uci-blue2: #4d94f8;
$uci-grey: #a09d9a;
$uci-cyan: #e6f3f7;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$uci-yellow: #FFFFD5;
$footer-background-color: $uci-grey;

// Update Bulma's global variables
$grey-dark: #1b3d6d;
$grey-light: $beige-light;
$primary: $uci-blue;
$link: $uci-blue;
$link-hover: $uci-blue2;
$widescreen-enabled: false;
$fullhd-enabled: false;
$body-background-color: $uci-cyan;
$box-radius: 10px;


// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

//Change navbar item height and bg color
$navbar-item-img-max-height: 5rem;
$navbar-box-shadow-color: $beige-light;
// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/form.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/grid/tiles.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/image.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";